<h1>Listing options</h1>

<% @options.each do |option| 
  
  v1 = option.t1
  v2=option.t2
  v3=option.t3
  v4=option.t4
  v5=option.t5
  v6=option.t6
  v7=option.t7
  v8=option.t8
  v9=option.t9
  v10=option.t10
  v11=option.t11
  v12=option.t12
  v13=option.t13
  v14=option.t14
  v15=option.t15
  v16=option.t16
  v17=option.t17
  v18=option.t18
  v19=option.t19
  v20=option.t20
  v21=option.t21
  v22=option.t22
  v23=option.t23
  v24=option.t24
  v25=option.t25
  v26=option.t26
  v27=option.t27
  v28=option.t28
  v29=option.t29
  v30=option.t30
end 
%>

 <div id="chart_div" style="width: 600px; height: 200px; position: relative; left: 15%; "></div>

<br />
  
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Sales', 'Expenses'],
          ['2004',  1000,      400],
          ['2005',  1170,      460],
          ['2006',  660,       1120],
          ['2007',  1030,      540]
        ]);

        var options = {
          title: 'Company Performance',
          hAxis: {title: 'Year', titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>


    
