<h1 align = "center">Editing venue</h1>

<style type="text/css">
  #entire_page 
  {
      width: 700px;
      margin-left: auto;
      margin-right: auto;
  }

</style>


<div id = "entire_page">

<%= render 'form' %>

<%= link_to 'Show', @venue %> 
<%= link_to 'Back', venues_path %>

</div>
