<h1>Editing venue</h1>

<%= render 'form' %>

<p>Tags used so far: <%
  
  require 'json'
  require 'open-uri'
  
  result = JSON.parse open('http://nyt-project-taco.herokuapp.com/venues.json').read
  tagsArrayList = Array.new()
 
  result.each { |i| 
    tags = i.fetch('tags')
    puts tags
    
    if (tags != "insert")
        words = tags.split(',')     
        words.each do |word|

            if (!tagsArrayList.include?(word))
              tagsArrayList.push(word)
            end
        end
    end
  }
  
  tagsArrayList.each do |x|
    puts "#{x}"
  end

  %> </p>

<%= link_to 'Show', @venue %> |
<%= link_to 'Back', venues_path %>
